<nav class="flex dark_bg">

    <a href="/index.html"><img class="header_logo" src="/assets/pong_banner-logo_v1.webp" alt="pong logo"></a>

    <ul class="flex">
        {% for tab in site.tabs %}
        <li class="header_button"><a href="{{ tab.url | relative_url }}"
                class="{% if page.url == tab.url %}active{% endif %}">
                {{ tab.title }}
            </a></li>
        {% endfor %}
    </ul>

    <button id="theme-toggle" aria-label="Toggle dark mode">
        <i class="fa-solid fa-sun"></i>
        <i class="fa-solid fa-moon"></i>
    </button>
</nav>