
.about_page_text_container {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
	width: 642px;
}

.exec_content_container {
	width: 1482px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 1em;
}

.exec_container {
	flex-wrap: wrap;
}

.exec_capsule {
	width: 474px;
	height: 144px;
	background-color: #f9fcff;
	color:#02020c;
	margin-right: 30px;
	margin-bottom: 30px;
}

.exec_capsule:nth-of-type(3n) {
	margin-right: 0px;
}

.exec_capsule img {
	width: 138px;
	height: 144px;
}

.exec_capsule_header {
	background-color: #f79423;
	color:#f9fcff;
	width: 336px;
	height: 84px;
}

.exec_capsule_header_text_container {
	padding-top: 21.5px;
}

.exec_capsule_name {
	font-family: "pong_cocogoose";
	font-size: 20px;
	margin-left:30px;
	margin-bottom: 5px;
}

.exec_capsule_role {margin-left:30px;}

.exec_capsule_link {
	width: 60px;
	height: 60px;
}

.exec_capsule_link_container a {
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
}

.exec_capsule_link_container a i {
	font-size: 2em;
	color: white;
	transition: transform 0.2s ease;
}

.exec_capsule_link_container a i:hover {
	transform: scale(1.5);
}