/* Colors */
$light: #f9fcff; 
$light-card-bg: #eef1f5;

$dark: #02020c;
$dark-hover: #33343d;
$dark-mode-bg: #181a1b;
$dark-card-bg: #1f222d5a;

$exec-color: #f79423;
$staff-color: #ed2445;

/* Breakpoint Values */
$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;

