/* Colors */
$light: #f9fcff; 
$dark: #02020c;
$dark-mode-bg: #181a1b;
$dark-card-bg: #1f222d5a;

$exec-color: #f79423;
$staff-color: #ed2445;
$advisor-color: #40ad49;
$mentor-color: #f7e633;

$platinum-color: #E5E4E2;
$gold-color: #FFD700;
$diamond-color: #B9F2FF;

/* Breakpoint Values */
$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;